body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

/* set legend format  Acknowledge:  
Andrew Perez helped with CSS legend format*/
.box {
  padding: 6px 8px;
  font: 10px/12px Arial, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}
.legend {
  line-height: 24px;
  color: #000;
}
.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
  opacity: .9;
}